.container {
  display: grid;
  height: 100vh;
  grid-gap: 30px;
  grid-template-columns:
   /* minmax(100px, 200px) */
   /* minmax(10%, 200px) */
   /* minmax(100px, auto); */
   minmax(min-content, 1fr)
   minmax(max-content, 4fr);
}

.box {
  background-color: mediumpurple;
}