:root {
	--mainColor: #ffffff;
	--redColor: #2c3e50;
}

body {
	display: flex;
	border-radius: 50%;
	transform: translateX(15px);
	background: var(--mainColor);
}

.grid-item {
	background: var(--redColor);
	height: 100px;
	margin-bottom: 20px;
}

.nested-grid-item {
	background: red;
	height: 50px;
	margin-bottom: 10px;
}

.grid-one {
	width: 100%;
	lost-utility: clearfix;
}

.grid-one div {
	lost-column: 1/3 2;
}