; Set URL for your scoped packages.
@iama-community-platform:registry=https://gitlab.com/api/v4/packages/npm/

; Add the token for the scoped packages URL.
//gitlab.com/api/v4/packages/npm/:_authToken=tP-vJB2Pn-tHtnsxeXP7

; Add token for uploading to the registry.
//gitlab.com/api/v4/projects/14865428/packages/npm/:_authToken=tP-vJB2Pn-tHtnsxeXP7
