/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
* {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.button {
    font-size: 12px;
    background: #666666;
    border: 1px solid #999999;
    margin-bottom: 10px;
}

.button:hover, .button:focus {
    background-color: #cccccc;
}

.top-bar > ul .name h1 a {
    font-size: 14px !important;
}

.tabs dd.active, .tabs li.active {
    border-top: 3px solid #999999;
}

/* -----------------------------------------
   Homepage
----------------------------------------- */
body {
}

#bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../video/Poster/poster.jpg) no-repeat;
    background-size: cover; 
}

.opaque {
  opacity: 0.6;
}

.imprint {
  margin-top: 10%;
 }
 .imprint p {
  font-size: 10px;
  color: #ffffff;
}

.contentText, .contentText h4 {
  color: #ffffff;
}

/* -----------------------------------------
   Contact
----------------------------------------- */
#response {
    display: none;
}

